
body {
    background-color: #619cd6; /* Cambia el color de fondo */
}

.character {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 80px;
}

.character h4 {
    margin-top: 0;
    font-size: 20px;
    color: #333;
}

.character img {
    width: 100%;
    max-width: 200px;
    height: auto;
    display: block;
    margin-top: 50px;
}

